.signup-container {
    width: 100%;
    height: auto;
    min-height: 50vh;


    .container {
        padding: 40px 60px;
        box-shadow: $box-shadow;

        @media (max-width: 768px) {
            padding: 30px 20px;
        }
        .header {
            p {
                font-size: xx-large;
                text-align: center;
            }
        }
        .signup-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 20px;
            padding: 20px;
            @media (max-width: 768px) {
                width: 100%;
                grid-template-columns: 1fr;
            }

            input,
            select {
                padding: 15px;
                margin-top: 10px;
                width: 100%;
                border-radius: 7px;
                border: 1px solid rgb(137, 136, 136);
                font-size: medium;

                &[name="email"] {
                    margin-bottom: 25px;
                }

                &:focus {
                    border: 1px solid $primary;
                    outline: none;
                }
            }
            span {
                color: crimson;
                padding-top: 5px;
            }
        }
        .create-btn-cont {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 20px;

            button {
                padding: 20px 60px;
            }
        }
    }
}
