footer {
    width: 100%;
    height: auto;
    background: $white;
    box-shadow: 0px 2px 4px #00000029, 0px 0px 0px 1px #0000000f;
    overflow: hidden;

    .subscribe-cont {
        @extend .place-items-center;
        width: 100%;
        background: #c5d8fc;
        text-align: center;
        padding: 40px 5px;
        h2 {
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
        p {
            margin: 30px 0px;
            @media (max-width: 768px) {
                font-size: medium;
            }
        }
        .send-email-cont {
            display: flex;
            padding: 5px;
            input {
                padding: 15px;
            }
            button {
                background: $primary;
                border: none;
                color: $white;
                padding: 0px 10px;
                border-radius: 5px;
            }
        }
    }
    .foot-link-cont {
        width: 100%;
        height: auto;
        padding: 20px 10px;

        .container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-gap: 10px;
            // grid-auto-flow: dense;

            // .grid-card:first-child {
            //     grid-column: span 2;
            // }

            .logo-social-links {
                grid-column: span 2;
                @media (max-width: 768px) {
                    grid-column: span 3;
                }

                a {
                    display: flex;
                    color: $primary;
                    margin-bottom: 15px;
                    width: 100%;
                    img {
                        height: 40px;
                        padding-right: 2px;
                    }
                }
            }
            h6 {
                font-size: 18px;
                margin-bottom: 12px;
            }
            ul {
                width: 100% !important;
                margin-bottom: 10px;
            }
            li {
                font-size: 14px;
                margin-bottom: 5px;
            }
            .get-app {
                img {
                    width: 100%;
                    max-width: 150px;
                    padding-right: 5px;
                }
                ul {
                    @media (max-width: 768px) {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .made-cont {
        width: 100%;
        height: auto;
        font-size: 16px;
        background: #e6e6e6;
        padding: 20px;
        .container {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                // display: block;
                font-size: small;
            }
            .go-top{
                display: flex;
                gap: 5px;
            }
        }
    }
}
