// top notice
.md-screen-notice {
    display: none;
    width: 100%;
    background: $primary;
    text-align: center;
    color: $white;
    font-size: 12px;
    padding: 12px 10px 8px 10px;
    @media (max-width: 768px) {
        display: block;
    }
}
// Header
header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 999;

    @media (max-width: 768px) {
        box-shadow:3px 2px 4px #00000029, 0px 0px 0px 1px #0000000f;
    }

    .main-nav-cont {
        width: 100%;
        height: 55px;
        background: $white;

        .container {
            @extend .place-items-center;
            height: 100%;
            padding-right: 20px;
            .left-nav {
                p {
                    font-size: 14px;
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .md-toggle-search,
            .md-logo-container {
                display: none;
                font-size: 24px;
                cursor: pointer;
                @media (max-width: 768px) {
                    display: flex;
                }
            }

            .md-toggle-search {
                @extend .place-items-center;

                .navbar-toggle {
                    cursor: pointer;
                    margin-right: 10px;

                    .bar {
                        width: 25px;
                        height: 3px;
                        background-color: $black;
                        margin: 5px 0;
                        border-radius: 2px;
                        transition: transform 0.3s, opacity 0.3s;
                    }

                    &.open {
                        .bar:first-child {
                            transform: translateY(8px) rotate(45deg);
                        }

                        .bar:nth-child(2) {
                            opacity: 0;
                        }

                        .bar:last-child {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
                span {
                    padding-top: 10px;
                }
            }
            .md-logo-container {
                cursor: pointer;
                a {
                    @extend .place-items-center;
                    gap: 2px;
                    color: $primary;
                    font-size: 16px;

                    img {
                        height: 40px;
                        @media (max-width: 768px) {
                            height: 24px;
                        }
                    }
                    h3 {
                        padding-bottom: 5px;
                    }
                }
            }
            .right-nav {
                @extend .place-items-center;
                justify-content: flex-end;
                width: 55%;
                height: 100%;
                gap: 20px;
                .location {
                    @extend .place-items-center;
                    font-size: 14px;
                    gap: 3px;
                    cursor: pointer;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
                .search-filed {
                    .search-input {
                        @extend .place-items-center;
                        position: relative;
                        .custom-select {
                            position: absolute;
                            appearance: none;
                            // background-color: $light-blue;
                            border: 1px solid $gray;
                            border-radius: 5px;
                            padding: 8px;
                            font-size: 14px;
                            color: $primary;
                            width: 100px;
                            margin-left: 5px;
                            box-shadow: 1px 2px 3px #609efc4e;
                            border-color: $primary;

                            &:focus {
                                outline: none;
                            }

                            &::-ms-expand {
                                display: none;
                            }

                            option {
                                background-color: $white;
                                color: #000;
                            }
                        }
                        input {
                            padding: 12px 40px;
                            padding-left: 120px;
                            display: block;
                            width: 100%;
                            border: 1px solid #ccc;
                            border-radius: 6px;
                            font-size: 15px;

                            &:focus {
                                background: #edecec;
                                border: none;
                                outline: #d5e6fa;
                            }
                        }
                        @media (max-width: 768px) {
                            display: none;
                        }

                        .search-icon {
                            position: absolute;
                            right: 0;
                            padding-left: 10px;
                            padding-top: 6px;
                            padding-right: 10px;
                            border: none;
                            background: none;
                            font-size: 20px;
                            border-left: 1px solid rgb(115, 115, 115);
                            cursor: pointer;
                        }
                    }
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
                @media (max-width: 768px) {
                    justify-content: flex-end;
                    width: auto;
                }
                .whishlist {
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
                .user-profile,
                .nav-cart {
                    cursor: pointer;
                    font-size: 18px;
                    a {
                        color: $black;
                    }
                }
            }
        }
    }

    .navbar-drop-menu {
        width: 100%;
        height: 100vh;
        background: $white;
        overflow-y: scroll;
        display: none;
        padding: 20px;
        background: #e1e6f4;

        &.open {
            display: none;
            animation: navSlideIn 1s ease 0s 1 normal forwards;
            border-bottom: 5px solid $primary;
            @media (max-width: 768px) {
                display: block;
            }
        }
        .container {
            .navbar-srh-field {
                display: flex;
                height: 45px;
                margin-bottom: 25px;
                background: #00000011;
                position: relative;
                cursor: pointer;
                input {
                    width: 100%;
                    border: 0.1px solid rgb(128, 128, 128);
                    font-size: 14px;
                    padding-left: 10px;
                    border-radius: 6px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    outline: none;
                }
                svg {
                    position: absolute;
                    right: 1px;
                    height: 100%;
                    width: 45px;
                    padding: 5px 10px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    background: #a7d2f350;
                }
            }
            .accordion {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 25px;
                border-bottom: 1px solid rgba(192, 192, 192, 0.516);
                .accordion-header {
                    @extend .place-items-center;
                }
                .accordion-content {
                    padding-left: 20px;
                    border-bottom: 1px solid rgb(90, 90, 90);
                    ul {
                        flex-direction: column;
                        align-items: flex-end;
                        margin-top: 10px;

                        li {
                            @extend .place-items-center;
                            margin-bottom: 5px;
                            list-style: armenian;
                            font-size: 14px;
                        }
                    }
                }
            }
            .navbar-choose {
                ul {
                    li {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

.filter-nav {
    width: 100%;
    height: 45px;
    background: $white;
    position: sticky;
    top: 55px;
    z-index: 12;
    box-shadow:3px 2px 4px #00000029, 0px 0px 0px 1px #0000000f;
    
    .container {
        @extend .place-items-center;
        height: 100%;
        padding-right: 18px;
        border-top: 1px solid #0000001d;
        .logo-container {
            font-size: 24px;
            cursor: pointer;
            a {
                color: $primary;
                @extend .place-items-center;
                gap: 8px;
                img {
                    height: 36px;
                }
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .filter-list {
            ul {
                @extend .place-items-center;

                li {
                    @extend .place-items-center;
                    font-size: 13px;
                    margin-left: 12px;
                    font-weight: 500;
                    cursor: pointer;
                    img {
                        width: 25px;
                        height: 25px;
                        display: none;
                        padding: 1px;
                        border: 1px solid $primary;
                        border-radius: 50px;
                        margin-bottom: 2px;
                        @media (max-width: 768px) {
                            display: block;
                        }
                    }
                    span {
                        @media (max-width: 768px) {
                            font-size: 8px;
                        }
                        svg {
                            padding-top: 4px;
                            @media (max-width: 768px) {
                                display: none;
                            }
                        }
                    }
                    @media (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }
                }
                @media (min-width: 768px) {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        position: relative;
        top: 0;
    }
}
